#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f0f8ff; /* AliceBlue */
  color: #4682b4;
}

h1,
h2 {
  color: #4682b4;
}

.center {
  text-align: center !important;
}


th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4682b4; /* SteelBlue */
  color: #fff;
  font-weight: bold;
}

tr:hover {
  background-color: #d3d3d3; /* LightGray */
}

.card {
  padding: 2em;
  background-color: #e6e6fa; /* Lavender */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
  vertical-align: top;
}

input[type="file"] {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #4682b4; /* SteelBlue */
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
}

.standard-form {
  text-align: left;
}

.thumbnail {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.prompt-dialog-content {
  background-color: #fff;
  color: #333;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #4682b4; /* SteelBlue */
  border-radius: 10px;
  width: 80%;
}

.prompt-dialog-content {
  width: 40%;
}

.prompt-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  color: #4682b4; /* SteelBlue */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #5a9bd4; /* Lighter SteelBlue */
  text-decoration: none;
  cursor: pointer;
}

.source-form,
.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-line {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.form-group label,
.ingredient-group label,
.ingredient-field label {
  margin-bottom: 0.5rem;
  text-align: left;
}

.ingredient-table {
  width: 100%;
  border-collapse: collapse;
}

.ingredient-table input {
  width: 100%;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #213547;
  color: #fff;
  transition: background-color 0.3s ease;
  width: fit-content;
}

label {
   color: #336699;
}

.form-actions button {
  background-color: steelblue;
}

.form-actions button:hover {
  background-color: #5a9bd4; /* Lighter SteelBlue */
}

.error {
  color: #e74c3c; /* Red */
  font-size: 0.875rem;
}

.prompt-dialog-content p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.prompt-dialog-content button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #16a085; /* Green */
  color: white;
  transition: background-color 0.3s ease;
}

.prompt-dialog-content button:hover {
  background-color: #13876b; /* Darker Green */
}

.prompt-dialog-content button:last-child {
  background-color: #e74c3c; /* Red */
}

.prompt-dialog-content button:last-child:hover {
  background-color: #c0392b; /* Darker Red */
}

.recipe-list-table {
  width: 100%;
  border-collapse: collapse;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

ul li {x
  text-align: left;
}

.attachment-table {
  width: 100%;
  border-collapse: collapse;
}

.attachment-table th,
.attachment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.attachment-table th {
  background-color: #4682b4; /* SteelBlue */
  color: white;
}

textarea {
  font-family: inherit; /* Uses the parent element's font */
}